@charset "UTF-8";
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800]   is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone  max-width: 600px;
- tab-port min-width: 601px and max-width: 900px
- tab-land min-width:901px and max-width: 1200px
- big-desktop  min-width: 1880px;
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  -webkit-animation: moveInLeft 1s ease-in-out;
          animation: moveInLeft 1s ease-in-out;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
    font-family: 5rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  -webkit-animation: moveInRight 1s ease-in-out;
          animation: moveInRight 1s ease-in-out;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #09203f, #537895);
  -webkit-background-clip: text;
  letter-spacing: 0.2rem;
  color: transparent;
  transition: all 0.4s;
}
@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}
.heading-secondary:hover {
  transform: scale(1.1);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-none {
  margin-bottom: 0rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-huge {
  margin-top: 10rem;
}

.u-horizontal-padding-small {
  padding-left: 2rem;
  padding-right: 2rem;
}

.u-vertical-padding-small {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.u-no-max-width {
  max-width: none;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  background-color: #aa4b6b;
  color: #fff;
}
.btn--green::after {
  background-color: #aa4b6b;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  -webkit-animation: moveInBottom 0.5s ease-in-out 0.75s;
          animation: moveInBottom 0.5s ease-in-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #aa4b6b;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #aa4b6b;
  padding: 0.3rem;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #aa4b6b;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
}
.card__side {
  height: 52rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #2e3192, #1bffff);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #c21500, #ffc500);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #09203f, #537895);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #2e3192, #1bffff), url(../img/card/card-1.jpg);
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #c21500, #ffc500), url(../img/card/card-2.jpg);
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #09203f, #537895), url(../img/card/card-3.jpg);
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(46, 49, 146, 0.85), rgba(27, 255, 255, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(194, 21, 0, 0.85), rgba(255, 197, 0, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(9, 32, 63, 0.85), rgba(83, 120, 149, 0.85));
}
.card__details {
  padding: 3rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
  margin-top: 2rem;
  border-top: 0.1rem solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card__price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

.composition {
  position: relative;
}
.composition__photo {
  max-width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.2rem;
  position: absolute;
  transition: all 0.2s, border-radius 1ms;
  outline-offset: 2rem;
}
.composition__photo--p1 {
  left: 0;
  top: -14rem;
}
.composition__photo--p2 {
  right: 0;
  top: -10rem;
}
.composition__photo--p3 {
  left: 20%;
  top: -2rem;
}
.composition__photo:hover {
  border-radius: 0;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #09203f, #537895);
  -webkit-background-clip: text;
  letter-spacing: 0.2rem;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 85vh;
  max-height: 40rem;
  width: 75%;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.5s 0.2s;
}
.popup__left {
  width: 33.3%;
  display: table-cell;
}
.popup__right {
  width: 66.6%;
  vertical-align: middle;
  padding: 3rem 5rem;
}
.popup__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 400ms;
}
.popup__img:hover {
  transform: scale(1.1);
}
.popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup__close:link, .popup__close:visited {
  color: #777;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
}
.popup__close:hover {
  color: #aa4b6b;
}

.story {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  border-radius: 0.3rem;
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}
.story__text {
  margin-bottom: 2rem;
  z-index: 10;
  position: relative;
}
.story__user {
  display: flex;
  align-items: center;
}
.story__photo {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}
.story__user-box {
  margin-right: auto;
}
.story__user-name {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}
.story__user-date {
  font-size: 1rem;
  color: #777;
}
.story__rating {
  color: #eb2f64;
  font-size: 2.2rem;
  font-weight: 300;
}
.story::before {
  content: "“";
  position: absolute;
  top: -2.75rem;
  left: -0.8rem;
  line-height: 1;
  font-size: 20rem;
  color: #f4f2f2;
  font-family: sans-serif;
  z-index: 1;
}
.story:hover {
  transform: scale(1.03);
  box-shadow: 0.2rem 0.3rem 0.5rem 0 2rem 5rem rgba(0, 0, 0, 0.06);
}

.footer {
  background-color: #333;
  padding: 4rem 0 2rem 0;
  font-size: 1.4rem;
  color: #f7f7f7;
}
.footer__logo-box {
  display: flex;
  width: 50%;
  justify-content: center;
}
.footer__container {
  display: flex;
  align-items: center;
  width: 100%;
}
.footer__quicklinks {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.footer__quicklinks h3 {
  color: white;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.footer__quicklinks ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  list-style: none;
}
.footer__quicklinks ul li a:link, .footer__quicklinks ul li a:visited {
  text-decoration: none;
  color: #888;
  font-size: 1.8rem;
  font-weight: 700;
  transition: all 200ms;
  -webkit-background-clip: text;
}
.footer__quicklinks ul li a:hover, .footer__quicklinks ul li a:active {
  background-image: linear-gradient(to right, #09203f, #537895);
  color: transparent;
}
.footer__sitemap {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.footer__sitemap h3 {
  color: white;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: right;
  margin-bottom: 1.6rem;
}
.footer__sitemap ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: right;
  list-style: none;
}
.footer__sitemap ul li a:link, .footer__sitemap ul li a:visited {
  text-decoration: none;
  color: #888;
  font-size: 1.8rem;
  font-weight: 700;
  transition: all 200ms;
  -webkit-background-clip: text;
}
.footer__sitemap ul li a:hover, .footer__sitemap ul li a:active {
  background-image: linear-gradient(to right, #09203f, #537895);
  color: transparent;
}
.footer__box {
  border-top: 1px solid #777;
  display: flex;
  width: 100%;
  align-items: center;
}
.footer__box__left {
  width: 50%;
}
.footer__box__right {
  width: 50%;
  display: flex;
}
.footer__box__right__iconbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  gap: 2rem;
  font-size: 3.6rem;
}
.footer__box__right__iconbox__link:link, .footer__box__right__iconbox__link:visited {
  color: #888;
  padding-top: 2rem;
  font-size: 3.6rem;
}
.footer__box__right__iconbox__link:hover, .footer__box__right__iconbox__link:active {
  color: #aa4b6b;
}
.footer__logo {
  width: 30rem;
  height: auto;
  transition: all 0.4s;
}
.footer__logo:hover {
  filter: brightness(0) saturate(100%) invert(96%) sepia(100%) saturate(0%) hue-rotate(24deg) brightness(104%) contrast(101%);
}
.footer__copyright {
  width: 80%;
  font-size: 1.8rem;
  color: #888;
}

.grid-layout {
  max-width: 114rem;
  margin: 0 auto;
  display: grid;
  row-gap: 8rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .row {
    margin-right: 0;
    margin-bottom: 6rem;
    flex: 1;
    flex-flow: row wrap;
    flex-basis: 100%;
  }
}
.row [class^=col-1-of-2] {
  flex: 0.5;
}
.row [class^=col-1-of-3] {
  flex: 0.33;
}
.row [class^=col-2-of-3] {
  flex: 0.66;
}
.row [class^=col-1-of-4] {
  flex: 0.25;
}
.row [class^=col-2-of-4] {
  flex: 0.5;
}
.row [class^=col-3-of-4] {
  flex: 0.75;
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-] {
    margin-right: 0;
    margin-bottom: 6rem;
    flex: 1;
    flex-flow: row wrap;
    flex-basis: 100%;
  }
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(9, 32, 63, 0.8), rgba(83, 120, 149, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo-link:link, .header__logo-link:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
  height: 9rem;
}
.header__logo-link:hover, .header__logo-link:active {
  transform: scale(1.2);
  filter: brightness(0) saturate(100%) invert(44%) sepia(17%) saturate(3781%) hue-rotate(302deg) brightness(73%) contrast(73%);
}
.header__logo {
  height: 9rem;
  filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(167deg) brightness(108%) contrast(99%);
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #fff;
  height: 8rem;
  width: 8rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.navigation__background {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#09203f, #537895);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -25%;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.4s;
}
.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #aa4b6b;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
  margin-top: 4rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 0.2rem;
  background-color: #333;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(9, 32, 63, 0.8), rgba(83, 120, 149, 0.8)), url(../img/features.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);
  margin-top: -17.5rem;
}

.section-rooms {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -17.5rem;
}

.section-stories {
  padding: 15rem 0;
}/*# sourceMappingURL=main.css.map */