// COLORS

$color-primary: #022a78;
$color-primary-light: #d6b80a;
$color-primary-dark: #af9608;

$color-secondary-light: #2e3192;
$color-secondary-dark: #1bffff;

$color-tertiary-light: #09203f;
$color-tertiary-dark: #537895;

//#09203F → #537895

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
