.grid-layout {
  max-width: $grid-width;
  margin: 0 auto;
  display: grid;
  row-gap: $gutter-vertical;

  @include respond(tab-port) {
    max-width: 50rem;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $gutter-horizontal;

  @include wrapFlexItems;

  [class^='col-1-of-2'] {
    flex: 0.5;
  }

  [class^='col-1-of-3'] {
    flex: 0.33;
  }

  [class^='col-2-of-3'] {
    flex: 0.66;
  }

  [class^='col-1-of-4'] {
    flex: 0.25;
  }

  [class^='col-2-of-4'] {
    flex: 0.5;
  }

  [class^='col-3-of-4'] {
    flex: 0.75;
  }

  [class^='col-'] {
    @include wrapFlexItems;
  }
}
